:root {
  --green-light: #1fb123;
  --page-margin-left: 5px;

  --menu-bar-button-width: 80px;
  --menu-bar-button-height: 40px;
  --menu-bar-margin-vertical: 5px;
  --menu-bar-height: calc(var(--menu-bar-button-height) + var(--menu-bar-margin-vertical) * 2);

  --thumbnail-margin: 5px;
  --thumbnail-image-height: 300px;
  --thumbnail-image-width: 300px;
  --thumbnail-border: 1px;
  --thumbnail-description-height: 30px;

  --thumbnail-total-height: calc(var(--thumbnail-image-height) + var(--thumbnail-border) * 3 + var(--thumbnail-description-height));
  --thumbnail-total-width: calc(var(--thumbnail-image-width) + var(--thumbnail-border) * 2);

  --container-margin-top: 10px;
}

#css-value-calculator{
  height: var(--thumbnail-total-height);
  background-color: red;
}

body{
  margin: 0;
  padding: 0;

  background-color: black;
  color:white;
}

.hidden {
  display: none;
}

.thumbnail {
  margin: var(--thumbnail-margin);
  float: left;
  border: var(--thumbnail-border) solid #ccc;
  height: calc(var(--thumbnail-image-height) + var(--thumbnail-border) + var(--thumbnail-description-height));
  width: var(--thumbnail-image-width);
}

.thumbnail > .image:hover {
  cursor: pointer;
}

.thumbnail > .image {
  display: table-cell;
  height: var(--thumbnail-image-height);
  width: var(--thumbnail-image-width);
  text-align: center;
  vertical-align: middle;
  border-bottom: var(--thumbnail-border) solid #ccc;
}

.thumbnail > .image > img {
  max-width:100%; 
  max-height:100%;
}

div.desc {
  font-size: 20px;
  height: var(--thumbnail-description-height);
  width: var(--thumbnail-image-width);

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.menu-bar{
  margin: 0px;
}

.menu-bar button{
  margin: var(--menu-bar-margin-vertical) 5px;
  color: white;
  font-size: 14px;
  height: var(--menu-bar-button-height);
  width: var(--menu-bar-button-width);
}

.slideshow {
  display: grid;
  height: 100%;
}

.slideshow img{
  height: calc(100vh - (10px + var(--menu-bar-height) + var(--container-margin-top)));
  object-fit: contain;
  max-width: 100%;
  max-height: calc(100vh - (10px + var(--menu-bar-height) + var(--container-margin-top)));
  margin: auto;
}

.photo-controls-container button{
  margin: 5px 0px 5px 5px;
  color: white;
  font-size: 14px;
  height: 40px;
}

button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:focus,
button:active {
    outline: 0;
    border: none;
}

.green-button {
  background-color: #1fb123;
  border: 1px solid darkgreen;
}

.green-button:hover {
  background-color: darkgreen;
  border: 1px solid #1fb123;
}

.red-button {
  background-color: #ca3535;
  border: 1px solid #ee5f5b;
}

.red-button:hover {
  background-color: #ca3535;
  border: 1px solid #ee5f5b;
}

#container{
  margin: var(--container-margin-top) var(--page-margin-left) 0px var(--page-margin-left);
}

.image-link{
  padding: 3px 0px 3px 0px;
}

.image-link a {
  text-decoration: none;
}

.image-link a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.image-link a.green{
  color: var(--green-light);
}
.image-link a.green:visited {
  color: var(--green-light);
}
.image-link a.green:hover {
  color: var(--green-light);
}
.image-link a.green:active {
  color: var(--green-light);
}

.image-link [class*="icon-"]{
  padding-right: 4px;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-empty:before {
  content: "\e924";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-reply:before {
  content: "\e96a";
}
