:root {
  --green-light: #1fb123;
  --page-margin-left: 5px;

  --menu-bar-button-height: 20px;
  --menu-bar-margin-vertical: 5px;
  --menu-bar-height: calc(var(--menu-bar-button-height) + var(--menu-bar-margin-vertical) * 2);

  --container-margin-top: 10px;
}

body{
  margin: 0;
  padding: 0;

  background-color: black;
  color:white;
}

.hidden {
  display: none;
}

.responsive {
  margin: 5px;
  float: left;
  border: 1px solid #ccc;
}

.responsive:hover,
.responsive:hover .gallery {
  border: 1px solid #777;
  cursor: pointer;
}

div.gallery {
  display: table-cell;
  height: 300px;
  width: 300px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
}

div.gallery img {
  max-width:100%; 
  max-height:100%;
}

div.desc {
  display: block;
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.menu-bar{
  margin: 0px;
}

.menu-bar button{
  margin: var(--menu-bar-margin-vertical) 5px;
  color: white;
  font-size: 14px;
  height: var(--menu-bar-button-height);
}

.slideshow {
  display: grid;
  height: 100%;
}

.slideshow img{
  
  max-width: 100%;
  max-height: calc(100vh - (10px + var(--menu-bar-height) + var(--container-margin-top)));
  margin: auto;
}

#pageContainer {
  margin-left: var(--page-margin-left);
}

#photoControls button{
  margin: 5px 0px 5px 5px;
  color: white;
  font-size: 14px;
}

button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:focus,
button:active {
    outline: 0;
    border: none;
}

.green-button {
  background-color: #1fb123;
  border: 1px solid darkgreen;
}

.green-button:hover {
  background-color: darkgreen;
  border: 1px solid #1fb123;
}

.red-button {
  background-color: #ca3535;
  border: 1px solid #ee5f5b;
}

.red-button:hover {
  background-color: #ca3535;
  border: 1px solid #ee5f5b;
}

#container{
  margin: var(--container-margin-top) 3px 0px 3px;
}

.image-link{
  padding: 3px 0px 3px 0px;
}

.image-link a {
  text-decoration: none;
}

.image-link a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.image-link a.green{
  color: var(--green-light);
}
.image-link a.green:visited {
  color: var(--green-light);
}
.image-link a.green:hover {
  color: var(--green-light);
}
.image-link a.green:active {
  color: var(--green-light);
}

.image-link [class*="icon-"]{
  padding-right: 4px;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-empty:before {
  content: "\e924";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-reply:before {
  content: "\e96a";
}
